html,body {

	margin:0;
	padding:0;
	background-color:;
}

.container {
	
	display:flex;
	min-width:max-content;
	width:auto;
	margin:0;
	text-align: center;
	justify-content: space-around; 
   }
.bar {
	
	background-color:#393939;
	display:flex;
	min-width:max-content;
	width:auto;
	margin:0;
	text-align: center;
	justify-content: space-around;
}
.mar {
	
	margin: 10px;
	width:900px;
	
}
.name {
	float:left;
	margin:0 auto;
	
}
.mar h1 {

	color: white;
	margin: 10px;
}


#score {
	
	display:flex;
	font-size: 2em;
}

.SOLVED {
	
	width:33%;
	margin:0;
	padding:0;
	float:left;
}

.TRIALS {
	
	width:33%;
	margin:0;
	padding:0;
	float:right;
}

.score {
	width:33%;
	margin:0;
	padding:0;
}


.Thebox {
	
	padding-top:10px;
	padding-left: 60px;
	width:80%;
	height:max-content;
}

.Thebox table {
	
	padding:2px;
	margin:2px;
	text-align:center;
	width:100%;
	height:400px;
	
}

.Thebox table TR {
	
	width:100%;
	height:100px;
}

.Thebox TD {
	
	width:20%;
	font-size:5em;
	border: 4px solid #D13438 ;
	border-radius:10px;
	
}

.Thebox TD:hover {
	
	box-shadow: 4px;
}

.done {
	
	color:#70DDA5;	
}

.square  {

	height:100%;
	width:80%;
	transform-style: preserve-3d;
	transition: all 0.6s linear;

}

.square .front,.square,.square.back {
	
	display:block;
	width:80%;
	height:100%;
	padding:0;
	margin:0;

}

.square .face {
		position:absolute;
	backface-visibility:hidden;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: black;
  text-align: center;
  background:white;
}