*{ margin:0px;
   padding:0px;
   list-style-type:none;
}
.clear{
	clear:both;
	
	
	
	
}
.container{
	/*width:1345px;
    height:1800px;*/
	margin:0px;
	border:2px solid gray;
	background-image:url(../images/bg6.jpg);
	background-repeat:repeat-y repeat-x;
	
	
}

.pic{top:5px;
	 float:right;
	 
}
.top_bar{
	float:left;
	
	
}

.top_bar ul li{
	font-family:Verdana Bold Italic;
	font-weight:100;
	font-size:30px;
	float:left;
	padding:2px 60px;
    transition: width 1s;
	text-shadow: 2px 2px #F7D7C4;
}
 
.top_bar ul li:hover { font-size:29px;
	
}

.my{
	/*opacity:.7;*/
	
	left:1095px;
	position:fixed;
		top:50px;
	
	
}
a{
	color:#990000;
	
}
a:hover{
	color:green;
}

div h1{ /*padding:300px 500px 500px 500px;*/
      opacity:.8;
      margin:350px 300px;
	  padding:50px 40px 30px 40px;
	  
	  width:500px;
	  height:100px;
	  text-align:center;
	  border-top-right-radius:40px;
	  border-bottom-left-radius:40px;
	  font-family:Comic Sans MS, cursive, sans-serif;
	  font-size:30px;
	  color:#666633;
	  position:center;
	  background-color:#d9d9d9;
      border:3px solid #e699ff;
	  }
	 

	  
div h1:hover {
		  color:#d9d9d9;
		  background-color:#666633; 		 
border:3px solid #4F4BD9;		  }
	  
	
