*{ list-style-type:none;
}
#container{
	 margin: 0 auto;
     width:100%;
	 height:790px;
	 background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(213,217,233,1));
	 
}
#container header{
	color:white;
	background-color:rgb(67,96,156);
	height:90px;
	padding:10px 2% 0px 0px;
	
}
#logosf{
	margin:20px 20px 20px 12%;


	
}

.login{
	float:right;
 margin-right:5%;

}
.left{ margin:2% 0% 0% 14%;
	float:left;
}

.right{
	float:right;
	position:relative;
	left:-8%;
}
.term{
	font-size:12px;
}
input[type=reg]{
    font-size:20px;	
	border-radius:5px;
}
#dob{
	font-family:arial;
	font-size:13px;
	color:rgb(111,111,111);
	
	
	
}
#create{
	width:55%;
	background-image:linear-gradient(to bottom,rgba(100,154,75,1),rgba(90,143,70,1));
	height:2em;
	border-radius:6px;
	border:rgb(34,55,28);
	color:white;
	font-size:1.2em;
}
#para{
	float:right;
}
#langs{
	list-style-type:none;
	position:relative;
	background-color:white;
	float:left;
}
#langs ul li{
	float:left;
	padding:2px 60px;
    font-size:.8em;
}
#langs p{
	margin-left:7.3%;
	font-family: Helvetica, Arial, sans-serif; 
	font-weight: normal; 
	color:tomato;
	font-size: .8em;
	
}
